<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous">
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            background-color: #f8f9fa; 
        }

        h1 {
            margin-bottom: 30px;
        }

        a {
            display: block;
            margin-bottom: 15px;
            padding: 15px;
            width: 200px;
            text-align: center;
            text-decoration: none;
            color: #fff; 
            background-color: #007BFF; 
            border-radius: 8px;
            transition: background-color 0.3s ease;
        }

        a:hover {
            background-color: #0056b3; 
        }
    </style>
</head>

<body>
    <h1>Are you a:</h1>
    <a href="/loginadmin">Admin</a>
    <a href="/loginuser">User</a>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-eEPh9bTtXQ6ngMzu8G9Cjs11lHejirX7vxFBEFOjPZoeq5tJcA/dfImXvcM7/37"
        crossorigin="anonymous"></script>
</body>

</html>
